snippet page "page class archetype" b
import { Component } from '@angular/core';

@Component({
  selector: 'page-`!p snip.rv = t[1].lower()`',
  templateUrl: '`!p snip.rv = t[1].lower()`.html',
})
export class ${1:name}Page {

	constructor () {

	}

}
endsnippet

