extends javascript

snippet vue "vue template" b
<template>
  <div></div>
</template>

<script>
export default {
  data: function () {
    return {}
  }
}
</script>

<style scoped>
</style>
endsnippet
